<p>123</p>
<div class="top">
  <ul class="nav">
    <li>
      <a href="">首页</a>
      <ul>
        <li>
          <a href="">123</a>
        </li>
        <li><a href="">456</a></li>
      </ul>
    </li>
    <li>
      <a href="">工作台</a>
      <ul>
        <li><a href="">工作管理</a></li>
        <li><a href="">风险管理</a></li>
        <li><a href="">投资管理</a></li>
      </ul>
    </li>
    <li>
      <a href="">玩乐</a>
      <ul class="gd">
        <li>
          <a href="">工作管理1</a>
          <a href="">小的工作</a>
        </li>
        <li>
          <a href="">风险管理1</a>
          <a href="">小的风险</a>
        </li>
        <li>
          <a href="">投资管理1</a>
          <a href="">小的投资</a>
        </li>
        <li>
          <a href="">工作管理2</a>
          <a href="">小的工作2</a>
        </li>
        <li>
          <a href="">风险管理2</a>
          <a href="">小的风险2</a>
        </li>
        <li>
          <a href="">投资管理2</a>
          <a href="">小的投资2</a>
        </li>
        <li>
          <a href="">风险管理2</a>
          <a href="">小的风险2</a>
        </li>
        <li>
          <a href="">投资管理2</a>
          <a href="">小的投资2</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="">吃饭饭</a>
      <ul>
        <li><a href="">工作管理</a></li>
        <li><a href="">风险管理</a></li>
        <li><a href="">投资管理</a></li>
      </ul>
    </li>
  </ul>
</div>
